export BUCKET=<your-s3-bucket-name>
export CLOUDFLARE_ZONE_ID=<your-cloudflare-zone-id>
export CLOUDFLARE_ACCOUNT_ID=<your-cloudflare-account-id>
export CLOUDFLARE_PRODUCTION_ROUTE=<*.your-domain.com/*>
export CLOUDFLARE_PRODUCTION_ROUTE=["<*.your-domain.com/*>", ...more]
